<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="khushboo.rohit.osmnavi">
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!--This permission is necessary for devices
      with Android O and above, so that
      we can use the location ALL THE TIME-->


    <!-- We also ask user to remove any battery optimization constraints during runtime -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>



    <library tools:node="removeAll" />


    <application
        android:name="khushboo.rohit.osmnavi.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="khushboo.rohit.osmnavi.MainActivity" />
        <activity android:name="khushboo.rohit.osmnavi.AddButton" />
        <activity android:name="khushboo.rohit.osmnavi.AddTags" />
        <activity android:name="khushboo.rohit.osmnavi.Debug" />
        <activity android:name="khushboo.rohit.osmnavi.debugAcitivity" />
        <activity android:name="khushboo.rohit.osmnavi.image_recognition" />
        <activity android:name="khushboo.rohit.osmnavi.shareLocActivity" />
        <activity android:name="khushboo.rohit.osmnavi.ModifyRoute" />
        <activity android:name="khushboo.rohit.osmnavi.MyApp" />
        <activity android:name="khushboo.rohit.osmnavi.POIList" />
        <activity android:name="khushboo.rohit.osmnavi.SearchPOI" />
        <activity android:name="khushboo.rohit.osmnavi.SuggestRoute" />
        <activity android:name="khushboo.rohit.osmnavi.ResultActivity" />
        <activity android:name="khushboo.rohit.osmnavi.ResultActivity1" />
        <activity android:name="khushboo.rohit.osmnavi.ShowRoutes" />
        <activity android:name="khushboo.rohit.osmnavi.SaveRoute" />
        <activity android:name="khushboo.rohit.osmnavi.ShowDb" />







        <activity android:name="khushboo.rohit.osmnavi.NavigationActivity" />



        <activity
            android:name="khushboo.rohit.osmnavi.DebugActivity"
           />
        <activity
            android:name="khushboo.rohit.osmnavi.NavigationActivity1"
           />
        <activity
            android:name="khushboo.rohit.osmnavi.TrainingActivity"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.ProfilesActivity"
            />

        <activity
            android:name="khushboo.rohit.osmnavi.ProfileToCustomizeActivity"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.ProfileCustomizeActivity"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.EmergencyMainActivity"
             />
        <activity
            android:name="khushboo.rohit.osmnavi.EmergencyCall"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.EmergencySms"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.Location"
             />
        <activity
            android:name="khushboo.rohit.osmnavi.RegisterActivity"
           />
        <activity
            android:name="khushboo.rohit.osmnavi.ReportIssue"
             />
        <activity
            android:name="khushboo.rohit.osmnavi.IntensityActivity"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.SettingsActivity"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.PermissionActivity"
            />


        <activity
            android:name="khushboo.rohit.osmnavi.BatteryActivity"
            />

        <activity
            android:name="khushboo.rohit.osmnavi.GetSupport"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.DiariesActivity"
             />
        <activity
            android:name="khushboo.rohit.osmnavi.Training"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.GuideActivity"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.Book"
             />
        <activity
            android:name="khushboo.rohit.osmnavi.CoursesActivity"
             />


        <!-- register the service -->
        <service
            android:name="khushboo.rohit.osmnavi.SensorService"
            android:enabled="true"
            android:exported="true" />



        <activity
            android:name="khushboo.rohit.osmnavi.MainActivity1"
            />
        <activity
            android:name="khushboo.rohit.osmnavi.LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="khushboo.rohit.osmnavi.ReactivateService"
            />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCHDSuWvIGxx2RDkHPymRThlakfF_X_tpA" />
        <meta-data
    android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version"/>

        <activity android:name="khushboo.rohit.osmnavi.pathReview" />


    </application>
    <queries>
        <package android:name="com.whatsapp" />
    </queries>

</manifest>